$dark-gray: rgba(203, 203, 203, 1);
$light-gray: rgba(218, 214, 214, 0.5);
$red: rgba(255, 0, 0, 1);
$green: rgba(4, 184, 65, 1);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    
}
body {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -10;
    background-color: $light-gray;

    .Scale-Down-anim {
        animation: ScaleDown 1s cubic-bezier(1, 0.05, 0.81, 0.37) forwards;
    }
    .Scale-Up-anim {
        animation: ScaleUp 1s forwards;
    }
    .Fade-Away-anim {
        animation: FadeAway 1s forwards;
    }
    header {
        
        background-color: $dark-gray;
        height: clamp(10vh, 100px, 20vh);
        min-width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        
        .addBook {
            display: flex;
            justify-content: center;
            align-items: end;
            position: absolute;
            z-index: -1;
            top: 0%;
            width: clamp(15vw, 250px, 20vw);
            height: clamp(18vh, 300px, 22vh);
            border-radius: 20px;
            border: 8px solid white;
            background-color: green;
            transition: top .2s ease-in-out;
            &:hover {
                top: 2%;
                cursor: pointer;
            }
            .addBookText {
                font-weight: bold;
                text-decoration: none;
                color: white;
                font-size: clamp(2vw, 64px, 4vw);
                
            }
        }

        
    }
    main {
        background-color: aquamarine;
        min-width: 100%;
        max-width: 100vw;
        height: clamp(50%, 70vh, 70%);
        margin-top: 8%;
        padding: 2% 5%;
        z-index: -5;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 5vh;
        .book {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            max-height: 250px;
            background-color: white;
            border-radius: 15px;
            font-size: 1rem;
            font-weight:200;

            i {
                position: absolute;
                left: 13.8vw;
                top: 30vh;
                color: $red;
                font-size: 36px;

                &:hover {
                    transition: color .5s ease-in-out;
                    cursor: pointer;
                    color: $red;
                }
            }
            div {
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0px 0px 15px 15px;
                background-color: green;
                color: white;
                font-size: 2rem;

                &:hover {
                    cursor: pointer;
                    background-color: $red;
                }
            }
        }
    }
    
    
    .BookForm {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 5;
        gap: 1rem;
        position: absolute;
        top: 25vh;
        left: 39vw;
        border-radius: 25px;
        background-color: $dark-gray;
        
        .removeme {
            position: absolute;
            left: -0.5vw;
            top: -2vh;
            color: $red;
            font-size: 48px;

                i:hover {
                    transition: color .5s ease-in-out;
                    cursor: pointer;
                    color: rgb(206, 13, 13);
                }
            
                
            
        }
        .send {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-end;
            height: 6rem;
           width: 4.5rem; 
           border-radius: 0px 0px 40px 40px;
           top: 58.3vh;
           left: 9.1vw;
           background-color: $green;
           position: absolute;
           z-index: 1;
           
           input {
            border: none;
           }
           &:hover {

            i {
                
                transform: translatey(-0.5rem);
            }
            cursor: pointer;
            
           }
           i {
            transition: .2s transform ease;
            font-size: 48px;
            padding-bottom: 0.5rem;
            margin-left: 0.1rem;
            color: white;
            input {
                position: absolute;
                background-color: transparent;
                border-radius: 50%;
                top: 5%;
                left: 5%;
                height: 90%;
                width: 90%;
                &:hover {
                    cursor: pointer;
                }
            }
            
           }
        }
        
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            padding: 0 1rem;
            
            .radio-holder{
                margin-left: -0.2rem;
                padding-bottom: 1rem;
                margin-top: -1.2rem;
            }

            input:not([type="radio"]) {
                min-height: 2.8rem;
                min-width: 20rem;
                border-radius: 20px;
                border: none;
                background-color: white;
                padding-left: 1rem;
                font-size: 1.1rem;
                font-weight: bold;

                &:focus {
                    outline: none;
                    
                    box-shadow: 0px 0px 5px black;
                }
            }
            
            .custom-radio {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-left: 0.8rem;
                
                input {
                    display: none;

                    &:checked + .checkmark {
                        background-color: $red;
                    }
                    
                    
                }
                input:not([class="red"]){
                    &:checked + .checkmark {
                        
                        background-color: $green;
                    }
                }

                .checkmark {
                    width: 35px;
                    height: 35px;
                    border: 3px solid $red;
                    border-radius: 50%;
                    display: inline-block;

                    &:hover{
                        cursor: pointer;
                    }
                }
                .checkmark:not([class="checkmark red"]){
                    border: 3px solid $green;
                }
            }
            
            
        }
        h1 {
            padding-top: 1.5rem;
        }
        p {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

}

//Custom animations

@keyframes ScaleDown {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1.1);
    }
    

    100% {
        transform: scale(0);
        visibility:hidden;
    }
}

@keyframes ScaleUp {
    0% {
        visibility: initial;
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes FadeAway {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}